body {
    font-family: mySecondFont;
    margin:0;}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/Lunchtype22-Medium.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(fonts/Lunchtype22-Regular.ttf);
}
  
h1 {
    font-family: myFirstFont;
}

p {
    font-family: mySecondFont;
}

  .container {

    margin: 0 auto;
  
    width: 5405px;
  
  }
  nav {

    height: 51px;
  
    background: #464b4c;
  
    border-top: 1px solid #353939;
  
    border-bottom: 1px solid #2e3131;
  
    background-image: -webkit-linear-gradient(top, #464b4c, #3f4344);
  
    background-image: -moz-linear-gradient(top, #464b4c, #3f4344);
  
    background-image: -o-linear-gradient(top, #464b4c, #3f4344);
  
    background-image: linear-gradient(to bottom, #464b4c, #3f4344);
  
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  
  }
  
  nav a {
  
    -webkit-transition: 0.1s ease-out;
  
    -moz-transition: 0.1s ease-out;
  
    -o-transition: 0.1s ease-out;
  
    transition: 0.1s ease-out;
  
    -webkit-transition-property: background-color, line-height;
  
    -moz-transition-property: background-color, line-height;
  
    -o-transition-property: background-color, line-height;
  
    transition-property: background-color, line-height;
  
  }
nav ul {

    float: left;
  
    border-left: 1px solid #353939;
  
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  
    border-right: 1px solid #4d5354;
  
    border-right: 1px solid rgba(255, 255, 255, 0.06);
    
    list-style-type: none;
  }
  
nav li {
  
    float: left;
  
  }      
  nav a {

    display: block;
  
    padding: 0 20px;
  
    line-height: 36px;
  
    color: #ddd;
  
    text-decoration: none;
  
    text-shadow: 0 -1px #2e3131;
  
    border-left: 1px solid #4d5354;
  
    border-left: 1px solid rgba(255, 255, 255, 0.06);
  
    border-right: 1px solid #353939;
  
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  
    cursor: pointer;
  
  }
  
  nav a:hover {
  
    background: #4d5354;
  
    background: rgba(255, 255, 255, 0.05);
  
  }  
  nav li.home a, nav li.home a:hover, nav a:active {

    padding: 0 21px;
  
    line-height: 33px;
  
    color: #eee;
  
    background: #323637;
  
    border-left: 0;
  
    border-right: 0;
  
    border-bottom: 3px solid #56c93d;
  
    background-image: -webkit-linear-gradient(top, #484e4f, #323637);
  
    background-image: -moz-linear-gradient(top, #484e4f, #323637);
  
    background-image: -o-linear-gradient(top, #484e4f, #323637);
  
    background-image: linear-gradient(to bottom, #484e4f, #323637);
  
    -webkit-box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
  
    box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2);
  
  }
  nav li.about a, nav li.about a:active {

    border-bottom-color: #c052b9;
  
  }
  
  nav li.companies a, nav li.companies a:active {
  
    border-bottom-color: #a54e49;
  
  }

  nav li.contact a, nav li.contact a:active {
  
    border-bottom-color: #c0bb30;
  
  }
  
  nav li.contact a, nav li.contact a:hover, nav a:active {

    border-bottom-color: 3px solid #c0bb30;

  } 

  nav li.youtube a, nav li.youtube a:hover, nav a:active, .youtube:hover {

    border-bottom-color: #a54e49;

  } 

  .footer{
            
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;}
  